@tailwind base;

@tailwind components;

@tailwind utilities;

.k-button {
	@apply py-1.5 px-5
		rounded-md shadow-lg
		text-base text-gray-900
		bg-gray-400
		hover:bg-gray-300
		active:bg-gray-200;

		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.k-button.outlined {
	@apply bg-transparent
		border border-gray-400
		text-text
		hover:bg-white hover:bg-opacity-10
		active:bg-white active:bg-opacity-20;

	text-shadow: none;
}

.k-button.primary {
	@apply bg-primary-500 hover:bg-primary-400 active:bg-primary-300;
}
.k-button.danger {
	@apply bg-red-800 hover:bg-red-700 active:bg-red-600 text-white;
	text-shadow: none;
}

.k-input {
	@apply w-full border border-neutral-600 bg-neutral-800 rounded-md px-2 py-1 my-1 outline-none focus:ring-1 focus:ring-primary-600;
}

/* ---------------------------------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
