@tailwind base;

@tailwind components;

@tailwind utilities;

.list-text-shadow {
	text-shadow: 0 0 4px rgb(0 0 0 / 60%);
}

.k-button {
	@apply py-1.5 px-5
		rounded-md shadow-lg
		text-base text-gray-900
		bg-gray-400
		hover:bg-gray-300
		active:bg-gray-200;

		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.k-button.outlined {
	@apply bg-transparent
		border border-gray-400
		text-text
		hover:bg-white hover:bg-opacity-10
		active:bg-white active:bg-opacity-20;

	text-shadow: none;
}


.k-button.flat {
	@apply bg-transparent
		border-0
		shadow-none
		text-text
		hover:bg-white hover:bg-opacity-10
		active:bg-white active:bg-opacity-20;

	text-shadow: none;
}

.k-button.small {
	@apply py-1 px-2;
}

.k-button.primary {
	@apply bg-primary-500 hover:bg-primary-400 active:bg-primary-300;
}
.k-button.danger {
	@apply bg-red-800 hover:bg-red-700 active:bg-red-600 text-white;
	text-shadow: none;
}

.k-input {
	@apply w-full px-2 py-1
		border border-neutral-600 bg-neutral-800 rounded-md
		placeholder-neutral-500
		outline-none
		focus:ring-1 focus:ring-primary-600;
}

/* ---------------------------------- */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: transform .2s linear;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
}
